.buy-btn, .small-title, .start-button .btn, h1, h2 {
    text-transform: uppercase;
}

body, html {
    font-size: 14px;
}

*, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.img-responsive, .loader {
    width: 100%;
}

.carousel-caption, .small-text p {
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    -ms-text-shadow: none;
    -o-text-shadow: none;
    text-shadow: none;
}

#filter li a, .backtop, .blog-date-wrapper span, .down-arrow .scroll-bottom:hover img, .fa.fa-times, .img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, button.close, i.search.fa.search-btn.fa-search, section.who-we-are .col-md-3 .fa {
    cursor: pointer;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-weight: 400;
}

button, html, input, select, textarea {
    color: #222;
}

html {
    line-height: 1.4;
}

b, b span {
    font-weight: 700 !important;
}

audio, canvas, img, video {
    vertical-align: middle;
}

body {
    font-family: "Roboto";
    /*font-family: "Open Sans",sans-serif;*/
    line-height: 1.846;
    color: #606577;
}

.head-tag h1, .small-text p, .start-button .btn, h2, p {
    /*font-family: 'Open Sans',sans-serif;*/
    font-family: "Roboto";
}

h1 {
    font-size: 35px;
    font-weight: 100;
    color: #5c5c5c;
}

h2 {
    font-size: 16px;
    font-weight: 600;
    color: #444;
}

h3, p, ul li a {
    font-size: 14px;
}

h4 {
    font-size: 12px;
}

h5 {
    font-size: 10px;
}

h6 {
    font-size: 8px;
}

p {
    font-weight: 400;
    color: #626262 ;
}

ul {
    list-style-type: none;
}

    ul li a {
        line-height: 18px;
        font-weight: 300;
        /*font-family: "Open Sans",sans-serif;*/
        font-family: "Roboto";
    }

a, a:active, a:focus {
    text-decoration: none !important;
    outline: 0;
}

a {
    text-decoration: none;
    -webkit-transition: all .2s ease .1s;
    -moz-transition: all .2s ease .1s;
    -ms-transition: all .2s ease .1s;
    -o-transition: all .2s ease .1s;
    transition: all .2s ease .1s;
}

.navbar-brand img, .navbar-collapse, .navbar-fixed-top, .navbar-fixed-top .navbar-brand img {
    -webkit-transition: all ease-in-out .7s;
    -moz-transition: all ease-in-out .7s;
    -o-transition: all ease-in-out .7s;
    -ms-transition: all ease-in-out .7s;
}

.loader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 99999999;
    background: url(../images/page-loader.gif) 50% 50% no-repeat;
    background-color: rgba(255,255,255,.7);
}


#nt-example1 {
    margin: auto;
    max-width: 620px;
}
#nt-example1-container {
    text-align: center;
}
#nt-example1-container i {
    cursor: pointer;
    font-size: 12px;
    margin: 8px;
    transition: all 0.1s ease-in-out 0s;
}
#nt-example1-container i:hover {
    color: #333;
}
#nt-example1 li {
    background: #f2f2f2 none repeat scroll 0 0;
    border-bottom: 1px dotted #195fa4;
    color: #4e4e4e;
    font-size: 12px;
    h/*eight: 80px;*/
    /*line-height: 40px;*/
    list-style: outside none none;
    overflow: hidden;
    padding: 5px;
    text-align: left;
    text-align: justify;
}
#nt-example1 li:hover {
    background: #fff none repeat scroll 0 0;
}

#nt-example1  .fa {
    color: #195fa4;
    
}




































.head-tag h1 span {
    letter-spacing: 2.5px;
    color: #fff;
    font-weight: 100;
    font-size: 50px;
}

.button-set .btn, .contact-us {
    letter-spacing: 1px;
}

.head-tag h1 {
    font-size: 30px;
    font-weight: 100;
    color: #fff;
}

.small-text p {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    background: 0 0;
    color: #dbdbdb;
}

.start-button .btn {
    font-size: 16px;
    font-weight: 500;
    padding: 10px 35px;
}

.buy-btn, .small-title {
    /*font-family: 'Roboto Condensed',sans-serif;*/
    font-family: "Roboto";
    color: #fff;
    letter-spacing: 1px;
}

.start-button .btn-danger {
    margin-right: 27px;
    border: 1px solid #fff !important;
}

.down-arrow .scroll-bottom:hover img {
    position: relative;
    top: 40%;
}

.rough {
    margin: 30px;
}

.small-title {
    font-weight: 400;
    font-size: 16px;
    background: #404040;
    height: 40px;
    padding: 10px 50px 10px 150px;
    border: 0;
    position: relative;
}

    .buy-btn:before, .small-title:after, .small-title:before {
        position: absolute;
        top: 0;
        content: " ";
    }

    .small-title:after {
        right: 0;
        width: 30px;
        height: 38px;
        margin-right: -20px;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 40px solid #404040;
    }

    .buy-btn:before, .small-title:before {
        width: 10px;
        -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0, M21=-0.7071067811865467, M22=1.4142135623730934, SizingMethod='auto expand')";
    }

    .small-title:before {
        right: 0;
        margin-right: -28px;
        height: 39px;
        background: #195fa4;
        -webkit-transform: skew(27deg);
        -moz-transform: skew(27deg);
        -o-transform: skew(27deg);
        -ms-transform: skew(27deg);
    }

.buy-btn {
    font-weight: 700;
    font-size: 40px !important;
    background: #404040;
    height: 70px;
    padding: 10px 120px 10px 50px;
    border: 0;
    position: relative;
}

    .buy-btn:before {
        left: 0;
        margin-left: -26px;
        height: 70px;
        background: #fff;
        -webkit-transform: skew(-17deg);
        -moz-transform: skew(-17deg);
        -o-transform: skew(-17deg);
        -ms-transform: skew(-17deg);
    }

    .buy-btn:after, .buy-btn:focus:after, .buy-btn:hover:after {
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 0;
        margin-left: -20px;
        content: " ";
    }

    .buy-btn:after {
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 70px solid #404040;
    }

    .buy-btn:focus, .buy-btn:hover {
        background-color: #195fa4;
        border: 0;
        color: #fff;
    }

        .buy-btn:focus:after, .buy-btn:hover:after {
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 70px solid #195fa4;
        }

.second-title {
    height: 40px;
    padding: 10px 20px !important;
    text-transform: capitalize;
}

.section-padding {
    padding: 40px 0 65Px;
}

.section-title {
    position: relative;
}

    .section-title:before {
        position: absolute;
        content: " ";
        width: 16%;
        height: 50px;
        background: url(../images/19357811_10207289759321940_1397844057_n.png) center center no-repeat;
        bottom: 0;
        margin-bottom: -35px;
        left: 42%;
    }

section .p-padding p {
    padding-top: 50px;
    color: #626262 ;
}

ul.nav.navbar-nav {
    position: relative;
}

    ul.nav.navbar-nav li a {
        text-transform: uppercase;
        color: #626262;
        font-weight: 600;
        font-size: 14px;
        letter-spacing:0.5px;
        word-spacing:1px;
    }

.navbar-nav > li {
    border-right: 0 solid #e4e4e4;
    padding: 0 10Px;
}

    .navbar-nav > li:last-child, .navbar-nav > li:nth-child(8) {
        border-right: 1px solid transparent;
    }

    .navbar-nav > li > a {
        padding-top: 0;
        padding-bottom: 0;
    }

    .navbar-nav > li > .search-open {
        position: absolute;
        right: 0;
        top: 45px;
        width: 200px;
        z-index: 999;
    }

.search-open .form-control {
    border: 1px solid #eee;
    border-radius: 0;
}

    .search-open .form-control:focus {
        outline: 0;
        -moz-box-shadow: 0 0 1px rgba(232,71,0,.9);
        -webkit-box-shadow: 0 0 1px rgba(232,71,0,.9);
        -ms-box-shadow: 0 0 1px rgba(232,71,0,.9);
        -o-box-shadow: 0 0 1px rgba(232,71,0,.9);
        box-shadow: 0 0 1px rgba(232,71,0,.9);
    }

.search-open .input-group {
    -webkit-box-shadow: 4px 8px 6px -7px #777;
    -moz-box-shadow: 4px 8px 6px -7px #777;
    -ms-box-shadow: 4px 8px 6px -7px #777;
    -o-box-shadow: 4px 8px 6px -7px #777;
    box-shadow: 4px 8px 6px -7px #777;
}

.input-group-btn {
    position: relative;
    white-space: nowrap;
    font-size: 15px;
}

button.btn-u {
    padding: 6px 10px;
    color: #fff;
    background-color: #195fa4;
    border: 1px solid #e84711;
}

    button.btn-u:active, button.btn-u:focus {
        border: 1px solid red;
        outline-width: 0;
        -moz-box-shadow: 0 0 1px rgba(232,71,0,.9);
        -webkit-box-shadow: 0 0 1px rgba(232,71,0,.9);
        -ms-box-shadow: 0 0 1px rgba(232,71,0,.9);
        -o-box-shadow: 0 0 1px rgba(232,71,0,.9);
        box-shadow: 0 0 1px rgba(232,71,0,.9);
    }

.navbar-default {
    background-color: rgba(255,255,255,.95);
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, ul.nav.navbar-nav li a:focus, ul.nav.navbar-nav li a:hover {
        background: 0 0;
        color: #195fa4;
    }

ul.nav.navbar-nav > li > .active {
    font-weight: 400;
}

ul.nav.navbar-nav > li > a:focus, ul.nav.navbar-nav > li > a:hover {
    border-bottom: 2px solid #195fa4;
    transition: none;
}

.menu_active{
    border-bottom: 2px solid #195fa4;
}

.navbar-brand img, .navbar-collapse, .navbar-fixed-top {
    transition: all ease-in-out .7s;
}

    .navbar-fixed-top .navbar-brand img {
        max-height: 60Px !important;
        transition: all ease-in-out .7s;
    }

    .navbar-fixed-top .navbar-collapse {
        padding-top: 15Px;
        -webkit-transition: all ease-in-out .7s;
        -moz-transition: all ease-in-out .7s;
        -o-transition: all ease-in-out .7s;
        -ms-transition: all ease-in-out .7s;
        transition: all ease-in-out .7s;
    }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent !important;
    color: #195fa4;
}

.navbar-nav > li > .dropdown-menu {
    left: 0;
    padding: 0;
    background: 0 0;
    border-radius: 0;
    border-width: 0;
    border-top: 2px solid #195fa4;
    border-bottom: 2px solid #195fa4;
}

    .navbar-nav > li > .dropdown-menu li {
        background: #195fa4;
        border-width: 0;
        border-style: solid;
        border-color: #eee;
        min-width: 200Px;
    }

        .navbar-nav > li > .dropdown-menu li a {
            font-size: 13Px;
            padding: 8px 15px;
            color: #fff;
            letter-spacing:0.5px;
        }

            .navbar-nav > li > .dropdown-menu li a:hover {
                background-color: #fff;
            }

.tp-banner-container {
    width: 100%;
    position: relative;
    padding: 0;
}

.tp-banner {
    width: 100%;
}

.tp-banner-fullscreen-container {
    width: 100%;
    position: relative;
    padding: 0;
}

a.navbar-brand {
    padding: 0;
    height: 0;
}

.navbar-left {
    padding: 0;
    margin: 2px 0 0;
}

.mm-list > li > a, .mm-list > li > span {
    text-transform: uppercase;
    color: #fff;
}

.mm-list a, .mm-list a:hover, .mm-menu .mm-list > li.mm-selected > a:not(.mm-subopen), .mm-menu .mm-list > li.mm-selected > span {
    color: #195fa4;
}

.mm-menu .mm-list > li > a.mm-subopen:after {
    color: red !important;
}

.mm-menu .mm-list > li > a.mm-subclose:before, .mm-menu .mm-list > li > a.mm-subopen:after {
    border-color: rgba(232,71,0,.8);
}

.mm-menu .mm-list > li > a.mm-subclose {
    color: #fff;
    font-size: 18px;
}

.mm-menu.mm-current {
    z-index: 99999;
}

.who-we-are-content {
    padding-top: 0px;
    text-align: left;
}

section.who-we-are .col-lg-12 {
    margin-bottom: 50px;
}

section.who-we-are .col-md-3 .fa {
    font-size: 25px;
    color: #195fa4;
    margin: 0 auto;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 2px solid #195fa4;
    line-height: 80px;
    -webkit-transition: all ease-in-out .35s;
    -moz-transition: all ease-in-out .35s;
    -o-transition: all ease-in-out .35s;
    -ms-transition: all ease-in-out .35s;
    transition: all ease-in-out .2s,background-color ease-in-out 50ms;
}

section.who-we-are .col-md-3 i:before {
    margin-left: 0;
    font-size: 40px;
}

section.who-we-are .col-md-3 .fa:hover {
    background-color: #195fa4;
    color: #fff;
    border: 1px solid #e84711;
    -moz-box-shadow: inset 0 0 0 5px #fff;
    -o-box-shadow: inset 0 0 0 5px #fff;
    -ms-box-shadow: inset 0 0 0 5px #fff;
    -webkit-box-shadow: inset 0 0 0 5px #fff;
    box-shadow: inset 0 0 0 5px #fff;
    -ms-transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
}

.blog-wrapper, .service {
    border-top: 1px solid #ececec;
}

.who-we-are-content p {
    font-size: 13px;
    padding-top: 10px;
    text-align: justify;
}

.menu-fix {
    margin-top: 0;
}

.service {
    background-color: #ffffff;
}

    .service .col-md-5 {
        padding-top: 65px;
    }

    .service .col-md-2 {
        padding-top: 40px;
    }

.left-column .media {
    text-align: right;
}

.media, .media1 {
    margin-top: 25px;
}

.left-column .media-left {
    float: right;
    padding-left: 20px;
    padding-right: 0;
}

.media-left > a > .fa {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    border: 2px solid #cfcece;
    padding: 15px;
    margin-bottom: 13px;
    display: table-cell;
    -webkit-transition: all .2s ease 0s;
    -moz-transition: all .2s ease 0s;
    -ms-transition: all .2s ease 0s;
    -o-transition: all .2s ease 0s;
    transition: all .2s ease 0s;
}

#filter, #filter li a, .left-column .media-body {
    display: block;
}

.media-left > a > .fa:before {
    color: #ccc;
    font-size: 25px;
}

.image-box img {
    width: 100%;
}

.media:hover .media-left a .fa {
    color: #999;
    border: 2px solid #e84711;
    background-color: #195fa4;
}

.media:hover .media-left a, .media:hover .media-left > a > .fa:before {
    color: #fff;
    text-decoration: none;
}

.right-column .media-left.media-middle {
    float: left;
    padding-right: 20px;
}

.media-body h2 {
    font-size: 15px;
    line-height: 57px;
    color: #515151;
      word-spacing:1px;
}

.media-body h3 {
    font-size: 14px;
    color: #777;
}

.media-body span {
    color: #777;
}

[class*=" flaticon-"]:after, [class*=" flaticon-"]:before, [class^=flaticon-]:after, [class^=flaticon-]:before {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    margin-left: 0;
}

.btn-success, .button-set .btn, .contact-us {
    /*font-family: 'Open Sans',sans-serif;*/
    font-family: "Roboto";
}

.clean-idea {
    background: url(../images/dev-icons.png) center center no-repeat fixed;
    background-size: cover;
    position: relative;
}

    .clean-idea h1, .clean-idea p {
        color: #fff;
    }

    .clean-idea p {
        font-size: 20px;
        font-style: italic;
        width: 80%;
        font-weight: 300;
        margin: 0 auto;
        color: #fff !important;
    }

.btn.focus, .btn:focus {
    outline: 0;
    outline-offset: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.btn {
    border-radius: 0;
    font-size: 16px;
}

    .btn:focus {
        outline: 0;
    }

.btn-danger:hover {
    outline: 0;
    background: #e8470b !important;
    border: 1px solid #195fa4 !important;
    -webkit-transition: all .5s ease-in-out !important;
    -moz-transition: all .5s ease-in-out !important;
    -o-transition: all .5s ease-in-out !important;
    transition: all .5s ease-in-out !important;
}

.btn-primary:hover, .btn-success:focus, .btn-success:hover {
    -webkit-transition: all .5s ease-in-out !important;
    -moz-transition: all .5s ease-in-out !important;
    -o-transition: all .5s ease-in-out !important;
    outline: 0;
}

/*.btn-primary:hover {
    color: #000;
    background: #fff !important;
    border: 1px solid #fffffe !important;
    transition: all .5s ease-in-out !important;
}*/

.btn-success {
    text-transform: uppercase;
    font-size: 20px;
    color: #195fa4;
    background-color: #fff;
    border: 1px solid #fff;
}

    .btn-success:focus, .btn-success:hover {
        color: #fff;
        background: 0 0 !important;
        border: 1px solid #fffffe !important;
        transition: all .5s ease-in-out !important;
    }

.button-set .btn-danger {
    background-color: #1c1c1b;
    border: 1px solid #1c1c1c;
    margin-bottom: 5px;
}

.button-set .btn-primary, .contact-us {
    background-color: #195fa4;
    border: 1px solid #e84711;
}

.button-set {
    margin-top: 50px;
}

    .button-set .fa {
        padding-right: 10px;
    }

.contact-us {
    padding: 6px 12px;
    color: #fff;
    font-size: 16px;
}

.more-area h2, .our-team .team-designation span, .our-team .zoomIn .team-designation p {
    /*font-family: "Open Sans",sans-serif;*/
    font-family: "Roboto";
    text-transform: uppercase;
}

.contact-us:focus {
    color: #fff;
}

.contact-us:hover {
    background-color: #fff;
    border: 1px solid #fff;
    color: #000;
    -webkit-transition: all .5s ease-in-out !important;
    -moz-transition: all .5s ease-in-out !important;
    -o-transition: all .5s ease-in-out !important;
    transition: all .5s ease-in-out !important;
}

.protfolio {
    padding-bottom: 0 !important;
    min-height: 295px;
}

.portfolio-menu {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}

#filter {
    list-style: none;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    padding: 0 15px;
}

    #filter li {
        display: inline-block;
        margin: 0;
        padding: 0;
        border: 0;
        background: 0 0;
    }

        #filter li a {
            border-radius: 0;
            margin: 0;
            padding: 5px 15px;
            text-transform: uppercase;
            color: #8d8d8d;
            background-color: #f5f5f5;
            font-weight: 600;
        }

            #filter li a.active, #filter li a:focus, #filter li a:hover {
                background-color: #195fa4;
                color: #fff;
                text-decoration: none;
                outline: 0;
            }

.portfolio {
    min-height: 259px;
    overflow: hidden !important;
}

.modal-body img {
    width: 100%;
    max-height: 450px;
}

.modal-title {
    font-size: 20px;
}

.modal-open .modal {
    background: rgba(10,20,25,.5);
}

.modal-header .btn {
    color: #e95e1d;
    border-color: #e95e1d;
}

    .modal-header .btn:hover {
        background-color: #e95e1d;
        color: #fff;
        border: 1px solid #e95e1d;
        -webkit-transition: all ease .5s;
        -moz-transition: all ease .5s;
        -ms-transition: all ease .5s;
        -o-transition: all ease .5s;
        transition: all ease .5s;
    }

.more-area {
    background: url(../images/19339688_10207289759201937_1540920808_o.png) center center no-repeat;
    background-size: cover;
    padding: 32px 0;
}

    .more-area h2 {
        font-weight: 100;
        color: #fff;
        font-size: 25px;
        padding-top: 8px;
    }

.our-team .col-md-3 {
    padding-top: 50px;
}

.our-team .icon-holder ul li {
    display: inline-block;
    margin: 0 10px;
}

    .our-team .icon-holder ul li:first-child {
        margin: 0 10px 0 0;
    }

    .our-team .icon-holder ul li:last-child {
        margin: 0 0 0 10px;
    }

    .our-team .icon-holder ul li a {
        color: #fff;
    }

        .our-team .icon-holder ul li a .fa {
            height: 45px;
            width: 45px;
            border-radius: 50%;
            padding: 14px;
            border: 1px solid;
            font-size: 20px;
            line-height: 15px;
            background: rgba(232,71,0,0);
            -webkit-transition: background ease .5s;
            -moz-transition: background ease .5s;
            -ms-transition: background ease .5s;
            -o-transition: background ease .5s;
            transition: background ease .5s;
        }

    .our-team .icon-holder ul li:hover a .fa {
        background: #195fa4;
        border-color: rgba(255,255,255,.5);
    }

.our-team .team-designation {
    width: 100%;
    background: #fff;
    padding: 10px 0 5px;
    -webkit-box-shadow: 0 2px 0 #ebeaea;
    -moz-box-shadow: 0 2px 0 #ebeaea;
    -ms-box-shadow: 0 2px 0 #ebeaea;
    -o-box-shadow: 0 2px 0 #ebeaea;
    box-shadow: 0 2px 0 #ebeaea;
    text-align: center;
}

.our-team .zoomIn .team-designation p {
    color: #707070;
    font-size: 14px;
    font-weight: 600;
    line-height: 10px;
}

.our-team .team-designation span {
    color: #989898;
    font-size: 12px;
    font-weight: 400;
}

.counting {
    background: url(../images/contact_bg.jpg) center center no-repeat fixed;
    background-size: cover;
    position: relative;
}

    .clean-idea:before, .contact-wrapper:before, .counting:before {
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,.85);
    }

    .counting .row .plus, .counting .row span {
        /*font-family: 'Open Sans',sans-serif;*/
        font-family: "Roboto";
        font-size: 55px;
        font-weight: 300;
        color: #fff;
        position: relative;
    }

        .counting .row span.count1:before, .counting .row span.count2:before, .counting .row span.count3:before, .counting .row span.count4:before {
            position: absolute;
            content: " ";
            bottom: 0;
            left: 0;
            margin-bottom: -45px;
            width: 100%;
            height: 50px;
        }

        .counting .row span.count1:before {
            background: url(../images/hand.png) center center no-repeat;
        }

        .counting .row span.count2:before {
            background: url(../images/bag.png) center center no-repeat;
        }

        .counting .row span.count3:before {
            background: url(../images/tweet.png) center center no-repeat;
        }

        .counting .row span.count4:before {
            background: url(../images/light.png) center center no-repeat;
        }

    .counting .row .col-sm-6 p {
        /*font-family: "Open Sans",sans-serif;*/
        font-family: "Roboto";
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        padding-top: 30px;
    }

.testimonial .testimonial-feed {
    width: 75%;
    text-align: center;
    margin: 0 auto;
}

.carousel-caption {
    color: #000;
}

.testimonial .fa-twitter {
    position: relative;
    color: #e95e1d;
    font-size: 45px;
}

.testimonial-feed .carousel {
    padding-top: 45px;
}

.testimonial-feed .item p {
    padding-top: 15px;
    font-size: 14px;
    font-weight: 400;
    color: #777;
}

    .testimonial-feed .item p a {
        color: #e95e1d;
    }

.carousel-inner .item img {
    margin: 0 auto;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid #e95e1d;
}

.carousel-inner .active .image-bar {
    position: relative;
}

    .carousel-inner .active .image-bar:after, .carousel-inner .active .image-bar:before {
        position: absolute;
        top: 50%;
        width: 70px;
        height: 1px;
        background-color: #e95e1d;
        content: " ";
    }

    .carousel-inner .active .image-bar:after {
        right: 37%;
    }

    .carousel-inner .active .image-bar:before {
        right: 57%;
        -webkit-transition: all ease .6s;
        -o-transition: all ease .6s;
        transition: all ease .6s;
    }

.carousel-inner .item span {
    position: relative;
    padding-top: 45px;
}

    .carousel-inner .item span:after {
        position: absolute;
        content: " ";
        bottom: 16%;
        left: -35px;
        width: 30px;
        height: 2px;
        background-color: #000;
    }

.control-arrow {
    text-align: center;
    margin-top: 55px;
}

    .control-arrow a {
        position: relative;
    }

.carousel-control a i {
    position: absolute;
    top: 0;
    left: 50%;
}

.carousel-control.left, .carousel-control.right {
    background: #878787;
    padding: 6px;
    color: #fff !important;
    opacity: 1;
    margin: 0 3px;
}

.carousel-control:hover {
    background: #eb6d39;
    -webkit-transition: all ease-in .35s;
    -moz-transition: all ease-in .35s;
    -ms-transition: all ease-in .35s;
    -o-transition: all ease-in .35s;
    transition: all ease-in .35s;
}

.control-arrow i:before {
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
}

.right i {
    margin-left: -2px;
}

.blog-wrapper {
    background: #f8f8f8;
    border-bottom: 1px solid #ececec;
    padding-bottom: 0;
}

    .blog-wrapper p {
        color: #8d8b8b;
        margin-bottom: 35px;
    }

    .blog-wrapper .blog-date-wrapper img {
        width: 100%;
    }

.blog-container h2 {
    /*font-family: "Roboto Condensed",sans-serif;*/
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.7px;
    padding: 17px 0 20px;
}

.blog-wrapper .blog-date-wrapper, .blog-wrapper .custom-button {
    /*font-family: 'Roboto Condensed',sans-serif;*/
    font-family: "Roboto";
    font-style: italic;
}

.blog-wrapper .blog-container, .blog-wrapper .blog-date-wrapper {
    padding: 15px 15px 21px;
    border-color: #d7d7d7;
    border-style: solid;
    border-width: 0 1px 1px;
}

.blog-wrapper h2 a {
    color: #525252;
}

    .blog-wrapper h2 a:hover {
        color: #e95e1d;
        opacity: 1;
    }

.blog-wrapper .custom-button {
    padding: 8px 20px;
    border-color: #d7d7d7;
    border-style: solid;
    border-width: 1px;
    color: #626262 ;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1.3px;
}

    .blog-wrapper .custom-button i {
        opacity: 0;
        font-size: 16px;
        -webkit-transition: opacity ease .35s;
        -moz-transition: opacity ease .35s;
        -ms-transition: opacity ease .35s;
        -o-transition: opacity ease .35s;
        transition: opacity ease-in .35s;
    }

    .blog-wrapper .custom-button:hover i {
        opacity: 1;
    }

    .blog-wrapper .custom-button:hover {
        color: #e95e1d;
        border-color: #e95e1d;
    }

.blog-wrapper .blog-date-wrapper {
    width: 100%;
    background: #ebebeb;
    font-size: 14px;
    line-height: 10px;
    font-weight: 300;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    padding-top: 19px;
}

.blog-date-wrapper span {
    color: #7f7f7f;
    -webkit-transition: color ease-in .35s;
    -moz-transition: color ease-in .35s;
    -ms-transition: color ease-in .35s;
    -o-transition: color ease-in .35s;
    transition: color ease-in .35s;
}

    .blog-date-wrapper span:hover {
        color: #e95e1d;
    }

.blog-wrapper .blog-date-wrapper span:nth-child(2n+2) {
    margin: 0 0 0 10px;
}

.blog-wrapper .col-sm-4 {
    margin-top: 50px;
}

.blog-wrapper .more-area {
    margin-top: 45px;
}

    .blog-wrapper .more-area h2 {
        font-weight: 300;
        font-size: 32px;
        text-transform: uppercase;
        padding-top: 3px;
    }

.partner-wrapper .owl-carousel .feature-image {
    padding: 35px;
}

.contact-wrapper {
    background: url(../images/bg_contact.jpg) center center no-repeat fixed #161616;
    position: relative;
    background-size: cover;
}

    .contact-wrapper .form-inline .form-control {
        display: inline-block;
        width: 100%;
        border-radius: 0;
        vertical-align: middle;
    }

    .contact-wrapper .p-padding, .contact-wrapper .section-title {
        color: #fff;
    }

    .contact-wrapper form {
        margin-top: 50px;
    }

    .contact-wrapper button, .contact-wrapper input, .contact-wrapper textarea {
        margin: 0 0 15px;
    }

    .contact-wrapper .costom-btn {
        width: 100%;
        background: #195fa4;
        border: 1px solid #195fa4;
        font: 16px/18px 'Open Sans',sans-serif;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        -webkit-transition: all ease .4s;
        -moz-transition: all ease .4s;
        -ms-transition: all ease .4s;
        -o-transition: all ease .4s;
        transition: all ease .4s;
    }

        .contact-wrapper .costom-btn:hover {
            background: rgba(232,71,0,0);
            color: #fff;
            border: 1px solid #fff;
        }

    .contact-wrapper .error, .contact-wrapper .success {
        display: none;
        text-align: center;
        padding: 6px;
        text-transform: uppercase;
    }

    .contact-wrapper .success {
        background: #DFF0D8;
    }

    .contact-wrapper .error, .contact-wrapper .validation {
        background: rgba(253,231,231,1);
    }

    .contact-wrapper .validation {
        border: 2px solid rgba(101,13,12,.9);
        box-shadow: 0 0 2px rgba(101,13,12,.5) inset;
    }

    .contact-wrapper .form-control:-ms-input-placeholder {
        font: 300 13px/22px 'Open Sans',sans-serif;
        color: #5c5c5c;
        text-transform: capitalize;
        font-weight: 300;
        letter-spacing: 1.1px;
    }

    .contact-wrapper .form-control::-webkit-input-placeholder {
        font: 300 13px/22px 'Open Sans',sans-serif;
        color: #5c5c5c;
        text-transform: capitalize;
        font-weight: 300;
        letter-spacing: 1.1px;
    }

    .contact-wrapper .form-control::-moz-placeholder {
        font: 300 13px/22px 'Open Sans',sans-serif;
        color: #5c5c5c;
        text-transform: capitalize;
        font-weight: 300;
    }

    .contact-wrapper .form-control:focus {
        border: 1px solid #195fa4;
        outline: 0;
        -moz-box-shadow: 0 0 3px rgba(232,71,0,.9);
        -webkit-box-shadow: 0 0 3px rgba(232,71,0,.9);
        -ms-box-shadow: 0 0 3px rgba(232,71,0,.9);
        -o-box-shadow: 0 0 3px rgba(232,71,0,.9);
        box-shadow: 0 1px 1px rgba(0,0,0,.1) inset,0 0 3px rgba(232,71,0,.9);
    }

    .contact-wrapper .contact-or {
        width: 68px;
        height: 68px;
        margin: 0 auto;
        border-radius: 50%;
        background: #fff;
        text-transform: uppercase;
    }

        .contact-wrapper .contact-or p {
            font: 25px/22px 'Open Sans',sans-serif;
            color: #195fa4;
            padding: 0;
            margin: 0 auto;
            text-align: center;
            line-height: 69px;
        }

    .contact-wrapper .icon-text {
        font: 400 16px/22px 'Open Sans',sans-serif;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        margin: 25px 0;
    }

    .contact-wrapper .icon-holder {
        width: 225px;
        margin: 0 auto;
    }

        .contact-wrapper .icon-holder ul li {
            display: inline-block;
            margin: 0 10px;
            width: 38px;
            height: 38px;
            text-align: center;
            border-radius: 50%;
            border: 1px solid #fff;
            background: rgba(232,71,0,0);
            -webkit-transition: background ease .5s;
            -moz-transition: background ease .5s;
            -o-transition: background ease .5s;
            -ms-transition: background ease .5s;
            transition: background ease .5s;
        }

            .contact-wrapper .icon-holder ul li:first-child {
                margin: 0 10px 0 0;
            }

            .contact-wrapper .icon-holder ul li:last-child {
                margin: 0 0 0 10px;
            }

            .contact-wrapper .icon-holder ul li a {
                width: 38px;
                height: 38px;
                color: #fff;
            }

            .contact-wrapper .icon-holder ul li .fa {
                line-height: 37px;
            }

            .contact-wrapper .icon-holder ul li:hover {
                background: #195fa4;
                border: 1px solid rgba(255,255,255,.5);
            }

.floatleft {
    float: left;
}

.floatright {
    float: right;
}

.clearboth {
    clear: both;
}

footer {
    background: #2f2f2f;
    border-top: 1px solid #3c3c3c;
}

    footer .footer-heading {
        font: 18px/19px "Open Sans",sans-serif;
        color: #e1e1e1;
        text-transform: uppercase;
    }

.footer-heading::first-letter {
    color: #1a910e;
}

.footer-content {
    font: 400 13px/20px Open Sans;
    color: #dcdcdc;
    margin: 40px 0 0;
}

.footer-wrapper ul.footerblog, .footer-wrapper ul.footercontact, .footer-wrapper ul.footermenu {
    margin: 30px 0 0;
}

    .footer-wrapper ul.footermenu li a {
        text-transform: capitalize;
        font: 400 14px/18px "Open Sans",sans-serif;
        color: #999;
    }

.footer-wrapper ul li a:hover {
    color: #168F09 !important;
}

.footer-wrapper ul.footermenu li a:before {
    content: "|";
    margin: 0 5px 0 0;
    color: #fff;
    font-weight: 700;
    line-height: 2;
}

.footer-wrapper ul.footercontact li, .footer-wrapper ul.footercontact li a {
    font: 400 13px/28px 'Open Sans',sans-serif;
    color: #666;
}

    .footer-wrapper ul.footercontact li span {
        text-transform: capitalize;
    }

    .footer-wrapper ul.footercontact li i, .footer-wrapper ul.footercontact li span {
        color: #dcdbdb;
    }

        .footer-wrapper ul.footercontact li i:before {
            font-size: 14px;
            margin: 0 8px 0 0;
        }

    .footer-wrapper ul.footercontact li .flaticon-close13:before {
        font-size: 10px;
    }

.footer-wrapper ul.footerblog li, .footer-wrapper ul.footerblog li a {
    font: 400 13px/18px 'Open Sans',sans-serif;
    color: #b4b4b4;
    padding-bottom: 10px;
}

    .footer-wrapper ul.footerblog li p {
        color: #666;
        font: 400 12px/18px 'Open Sans',sans-serif;
        font-style: italic;
    }

.footer-bottom .col-xs-12 p {
    font-size: 12px;
}

    .footer-bottom .col-xs-12 p span {
        text-transform: uppercase;
    }

    .footer-bottom .col-xs-12 p a {
        color: #9a9a9a !important;
        text-transform: capitalize;
    }

        .footer-bottom .col-xs-12 p a:hover {
            color: #195fa4 !important;
        }

.footer-bottom {
    background-color: #252525;
    padding: 20px 0;
}

.backtop {
    color: #fff;
    border: 1px solid #171715;
    padding: 3px 5px;
    font-size: 24px;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    line-height: 30px;
    background-color: #171717;
    text-align: center;
    position: absolute;
    bottom: -8px;
    right: 15px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-transform: translateZ(0);
}

    .backtop:hover {
        color: #195fa4;
        background: #252525;
    }

    .backtop:after {
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        display: none;
    }

.blog-header:before, .event-title::before, .myContact-Wrapper::before {
    content: " ";
}

.backtop:before {
    font-family: FontAwesome;
    speak: none;
    font-size: 20px;
    line-height: 30px;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}

.backtop:hover::before {
    -webkit-animation: toTopFromBottom .3s forwards;
    -moz-animation: toTopFromBottom .3s forwards;
    animation: toTopFromBottom .3s forwards;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 11px 10px;
    margin-top: -10px;
    margin-right: 15px;
    margin-bottom: 0;
    background-color: transparent;
    background-image: none;
    border: 1px solid #195fa4 !important;
    border-radius: 0;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #195fa4;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #195fa4;
    -webkit-transition: all ease .2s;
    -moz-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease .2s;
}

    .navbar-default .navbar-toggle:focus .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar {
        background-color: #fff;
        -webkit-transition: all ease .2s;
        -moz-transition: all ease .2s;
        -o-transition: all ease .2s;
        transition: all ease .2s;
    }

.blog-header {
    background: url(../images/banner.jpg) center center no-repeat #fff;
    background-size: cover;
    position: relative;
}

    .blog-header:before {
        background: rgba(0,0,0,.8);
        background-size: cover;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .blog-header .section-title {
        color: #fff;
    }

.blog-content .row {
   /* padding: 50px 0;*/
    border-bottom: 0 solid #e2e2e2;
}

.blog-content .sidebar-blog-content .row {
    padding: 0 0 50px;
    border-bottom: 0 solid #e2e2e2;
}

.blog-sidebar .blog-content {
    padding: 35px 0;
}

.blog-content img {
    padding-bottom: 50px;
}

.blog-content iframe {
    padding-bottom: 42px;
}

.blog-date {
    margin-right: 50px;
}

.blog-sidebar .blog-date {
    margin-right: 0;
}

.blog-date p {
    background: #f54828;
    padding: 10px 25px 15px;
    /*font-family: 'Roboto Condensed',sans-serif;*/
    font-family: "Roboto";
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    text-transform: capitalize;
}

.blog-sidebar .blog-date p {
    font-size: 18px;
}

.blog-date p span {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    line-height: 55px;
}

.blog-sidebar .blog-date p span {
    font-size: 38px;
    line-height: 38px;
}

.blog-content h1 {
    line-height: 25px;
}

    .blog-content h1 a {
        color: #1a1a1a;
        /*font-family: "Open Sans",sans-serif;*/
        font-family: "Roboto";
        font-size: 27px;
        font-weight: 400;
        text-transform: uppercase;
    }

.blog-content .contents, .blog-content .icon-holder, .blog-content button, .blog-sidebar .list-group-item, .blog-sidebar .media .media-body a span, .blog-sidebar .media .media-body h3 a, .blog-sidebar .media .media-body p {
    font-family: "Roboto";
}

.blog-sidebar .blog-content h1 a {
    font-size: 20px;
}

.blog-sidebar .blog-content h1 {
    line-height: 15px;
}

.blog-content .icon-holder a:hover, .blog-content h1 a:hover {
    color: #f54828;
}

.blog-content .icon-holder {
    font-size: 16px;
    text-transform: capitalize;
    padding: 5px 0 20px;
}

.blog-sidebar .blog-content .icon-holder {
    font-size: 13px;
}

.blog-content [class*=" flaticon-"]:after, .blog-content [class*=" flaticon-"]:before, .blog-content [class^=flaticon-]:after, .blog-content [class^=flaticon-]:before {
    margin-left: 0;
    margin-right: 10px;
}

.blog-content .flaticon-eye128 {
    position: relative;
    top: -4px;
}

.blog-content .icon-holder a {
    color: #999;
    margin-right: 20px;
}

.blog-content .contents, .blog-content button {
    color: #6b6b6b;
    font-weight: 300;
}

.blog-content .contents {
    font-size: 16px;
    line-height: 27px;
}

.blog-sidebar .blog-content .contents {
    font-size: 14px;
}

.blog-content button {
    text-transform: capitalize;
    background: 0 0;
    border: 1px solid #e2e2e2;
    font-size: 14px;
    margin: 45px 0 0;
    float: right;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}

    .blog-content button:hover {
        border: 1px solid #f54828;
        color: #f54828;
    }

.blog-content .video-area {
    height: 600px;
    width: 100%;
}

.blog-sidebar .blog-content .video-area {
    height: 450px;
    width: 100%;
}

.blog-content .pagination-lg > li > a, .pagination-lg > li > span {
    padding: 9px 16px;
    color: #6b6b6b;
    font-family: "Roboto";
    /*font-family: 'Open Sans',sans-serif;*/
    font-size: 14px;
    background: #e7e7e7;
    border: none;
    margin: 0 1px;
}

.blog-content.pagination-content, .blog-content.pagination-content .container-fluid .row {
    padding: 0;
}

.blog-content .container-fluid .pagination-lg > li > a, .blog-content .container-fluid .pagination-lg > li > span {
    margin: 0 -1px 0 0;
}

.pagination-lg > li:first-child > a, .pagination-lg > li:first-child > span, .pagination-lg > li:last-child > a, .pagination-lg > li:last-child > span {
    border-radius: 0;
    margin: 0 1px 0 0;
    text-transform: capitalize;
}

.pagination-lg > li:last-child > a, .pagination-lg > li:last-child > span {
    margin: 0 0 0 1px;
}

.blog-content .container-fluid .pagination-lg > li:last-child > a, .blog-content .container-fluid .pagination-lg > li:last-child > span {
    margin: 0 0 0 -1px;
}

.pagination-lg > li:first-child > a > span, .pagination-lg > li:last-child > a > span {
    font-size: 20px;
    line-height: 10px;
    position: relative;
    top: 2px;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    background: #f54828;
    color: #fff;
    -webkit-text-shadow: 0 1px 0 #000;
    -moz-text-shadow: 0 1px 0 #000;
    -ms-text-shadow: 0 1px 0 #000;
    -o-text-shadow: 0 1px 0 #000;
    text-shadow: 0 1px 0 #000;
}

.sidebar {
    margin: 35px 0;
    padding: 0 15px;
    border: 1px solid #ddd;
}

.blog-sidebar .list-group-item {
    border-width: 1px 0;
    border-color: #d1d1d1;
    border-style: solid;
    font-size: 14px;
    color: #696969;
    text-transform: capitalize;
    font-weight: 300;
   /* padding: 10px 0;*/
}

    .blog-sidebar .list-group-item span {
        font-weight: 300;
    }

    .blog-sidebar .list-group-item:first-child, .blog-sidebar .list-group-item:last-child {
        border-radius: 0;
    }

    .blog-sidebar .list-group-item.active, .blog-sidebar .list-group-item.active:focus, .blog-sidebar .list-group-item.active:hover, .blog-sidebar .sidebar-heading {
        background: 0 0;
        color: #4e4e4e;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        border-width: 0;
    }

    .blog-sidebar .list-group-item.active {
        position: relative;
    }

        .blog-sidebar .list-group-item.active:before, .blog-sidebar .sidebar-heading:before {
            content: " ";
            border-width: 0 0 2px;
            border-color:#195fa4;
            border-style: solid;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
        }

.blog-sidebar a.list-group-item:focus, .blog-sidebar a.list-group-item:hover {
    background: 0 0;
    color: #195fa4;
}

.blog-sidebar .media {
    margin: 15px 0;
}

    .blog-sidebar .media h3 {
        padding-top: 7px;
    }

    .blog-sidebar .media .media-body h3 a {
        font-size: 13px;
        color: #4e4e4e;
        text-transform: uppercase;
    }

        .blog-sidebar .media .media-body h3 a:hover {
            color: #195fa4;
        }

    .blog-sidebar .media .media-body p {
        font-size: 13px;
        color: #9a9a9a;
        font-weight: 300;
        line-height: 15px;
    }

    .blog-sidebar .media .media-body a span {
        font-size: 12px;
        color: #4e4e4e;
        text-transform: capitalize;
        font-weight: 300;
        -webkit-transition: color ease .35s;
        -moz-transition: color ease .35s;
        -ms-transition: color ease .35s;
        -o-transition: color ease .35s;
        transition: color ease .35s;
    }

    .blog-sidebar .media .media-body a:hover span {
        color: #195fa4;
    }

.media .media-left .media-object {
    max-width: 100px;
}

.blog-sidebar .sidebar-heading {
    padding: 11px 0 8px;
    border-bottom: 1px solid #ececec;
    position: relative;
}

.blog-sidebar ul {
    padding: 19px 0;
}

    .blog-sidebar ul li {
        display: inline-block;
        margin: 10px 0;
    }

        .blog-sidebar ul li a {
            background: 0 0;
            margin-right: 5px;
            border: 1px solid #ddd;
            /*font-family: 'Roboto Condensed',sans-serif;*/
            font-family: "Roboto";
            font-size: 13px;
            color: #999;
            text-transform: uppercase;
            padding: 10px 12px;
        }

            .blog-sidebar ul li a:hover {
                background: rgba(272,45,40,.9);
                color: #fff;
            }

.portfolioPage {
    min-height: 230px;
    overflow: hidden !important;
}

.divRightFormContact {
    float: right;
    width: 49%;
}

.divLeftFormContact {
    float: left;
    width: 47%;
}

.section-paddingTop {
    padding: 30px 0 65Px;
}

.myContact-Wrapper::before {
    background: 0 0 !important;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.myContact-Wrapper {
    background-color: #fff;
    background-image: none;
}

    .myContact-Wrapper form {
        margin-top: 0;
    }

    .myContact-Wrapper .costom-btn:hover {
        background: #222;
        border: 1px solid #fff;
        color: #fff;
    }

.linecount {
    min-height: 6em;
}

.modal-dialog .close {
    color: #555;
    font-size: 20px;
    margin-top: 3px;
}

.modal-header .close {
    margin-top: -2px;
}

button.close {
    background: rgba(0,0,0,0);
    border: 0;
    padding: 0;
}

.close {
    color: #000;
    float: right;
    font-size: 19.5px;
    font-weight: 700;
    line-height: 1;
    opacity: .2;
    text-shadow: 0 1px 0 #fff;
}

.fileUpload {
    background-color: #195fa4;
    margin: -10px 0;
    overflow: hidden;
    position: relative;
}

    .fileUpload input.upload {
        cursor: pointer;
        font-size: 20px;
        margin: 0;
        opacity: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

.Message {
    font-size: 14Px;
    font-weight: 400;
}

.successfull {
    background-color: #DFF2BF;
    border: 1Px solid #4F8A10;
    color: #4F8A10;
    padding: 3Px 0Px;
}

.CaptchaImage {
    height: 34px;
    width: 100%;
    border: 1px solid #ccc;
}

.img1, .img1:hover, .img2, .img2:hover, .img3, .img3:hover, .img4, .img5, .img5:hover, .img6, .img6:hover, .img7, .img7:hover, .img8, .img8:hover {
    height: 128px;
    width: 128px;
}

.portfolio-Margin {
    margin-top: 0 !important;
}

.portfolio-padding-inner {
    padding: 5px !important;
}

@media (min-width:1200px) {
    .portfolio-Margin {
        margin-top: 0 !important;
    }
}

.ColorOrange {
    color: #195fa4;
}

.ColorHR {
    border-bottom: 1px solid #195fa4;
    margin: 0;
    padding: 0;
}

.img1 {
    background: url(../images/Technologies/asp_net.png) no-repeat;
}

    .img1:hover {
        background: url(../images/Technologies/asp_net.png) -125px 0 no-repeat;
    }

.img2 {
    background: url(../images/Technologies/apple.png) no-repeat;
}

    .img2:hover {
        background: url(../images/Technologies/apple.png) -125px 0 no-repeat;
    }

.img3 {
    background: url(../images/Technologies/php.png) no-repeat;
}

    .img3:hover {
        background: url(../images/Technologies/php.png) -125px 0 no-repeat;
    }

.img4 {
    background: url(../images/Technologies/odoo.png) no-repeat;
}

    .img4:hover {
        background: url(../images/Technologies/odoo.png) -125px 0 no-repeat;
    }

.img5 {
    background: url(../images/Technologies/html5.png) no-repeat;
}

    .img5:hover {
        background: url(../images/Technologies/html5.png) -126px 0 no-repeat;
    }

.img6 {
    background: url(../images/Technologies/js.png) no-repeat;
}

    .img6:hover {
        background: url(../images/Technologies/js.png) -125px 0 no-repeat;
    }

.img7 {
    background: url(../images/Technologies/andriod.png) no-repeat;
}

    .img7:hover {
        background: url(../images/Technologies/andriod.png) -125px 0 no-repeat;
    }

.img8 {
    background: url(../images/Technologies/paython.png) no-repeat;
}

    .img8:hover {
        background: url(../images/Technologies/paython.png) -125px 1px no-repeat;
    }

.imgandroidios, .imgandroidios:hover, .imgapidevelopment, .imgapidevelopment:hover, .imgcustomize, .imgcustomize:hover, .imgdigitalmarketing, .imgdigitalmarketing:hover, .imgecommercesolution, .imgerpsolution, .imgerpsolution:hover, .imgodoo, .imgodoo:hover, .imgwebdesign, .imgwebdesign:hover {
    height: 70px;
    width: 60px;
}

.imgcustomize {
    background: url(../images/homepageicons/19239632_10207289759161936_1037390549_n.png) -3px 0 no-repeat;
    background-size: 230%;
}

    .imgcustomize:hover {
        background: url(../images/homepageicons/19239632_10207289759161936_1037390549_n.png) -74px 0 no-repeat;
        background-size: 230%;
    }

.imgwebdesign {
    background: url(../images/homepageicons/19239799_10207289759401942_1281544614_n.png) -3px 0 no-repeat;
    background-size: 230%;
}

    .imgwebdesign:hover {
        background: url(../images/homepageicons/19239799_10207289759401942_1281544614_n.png) -74px 0 no-repeat;
        background-size: 230%;
    }

.imgapidevelopment {
    background: url(../images/homepageicons/19265018_10207289759241938_260539577_n.png) -3px 0 no-repeat;
    background-size: 230%;
}

    .imgapidevelopment:hover {
        background: url(../images/homepageicons/19265018_10207289759241938_260539577_n.png) -74px 0 no-repeat;
        background-size: 230%;
    }

.imgecommercesolution {
    background: url(../images/homepageicons/19265172_10207289759361941_234327293_n.png) -3px 0 no-repeat;
    background-size: 230%;
}

    .imgecommercesolution:hover {
        background: url(../images/homepageicons/19265172_10207289759361941_234327293_n.png) -74px 0 no-repeat;
        background-size: 230%;
    }

.imgerpsolution {
    background: url(../images/homepageicons/19265172_10207289759361941_234327293_n.png) -3px 0 no-repeat;
    background-size: 230%;
}

    .imgerpsolution:hover {
        background: url(../images/homepageicons/19265172_10207289759361941_234327293_n.png) -74px 0 no-repeat;
        background-size: 230%;
    }

.imgodoo {
    background: url(../images/homepageicons/19357768_10207289759281939_1322149067_n.png) -3px 0 no-repeat;
    background-size: 230%;
}

    .imgodoo:hover {
        background: url(../images/homepageicons/19357768_10207289759281939_1322149067_n.png) -74px 0 no-repeat;
        background-size: 230%;
    }

.imgandroidios {
    background: url(../images/homepageicons/19239632_10207289759161936_1037390549_n.png) -3px 0 no-repeat;
    background-size: 230%;
}

    .imgandroidios:hover {
        background: url(../images/homepageicons/19239632_10207289759161936_1037390549_n.png) -74px 0 no-repeat;
        background-size: 230%;
    }

.imgdigitalmarketing {
    background: url(../images/homepageicons/19265018_10207289759241938_260539577_n.png) -3px 0 no-repeat;
    background-size: 230%;
}

    .imgdigitalmarketing:hover {
        background: url(../images/homepageicons/19265018_10207289759241938_260539577_n.png) -74px 0 no-repeat;
        background-size: 230%;
    }

.imgexpertteam, .imgexpertteam:hover, .imgfullsupport, .imgfullsupport:hover, .imglatesttechnology, .imgsecurity, .imgsecurity:hover {
    height: 120px;
    width: 120px;
}

.imgexpertteam {
    background: url(../images/mtk-bearing.png) no-repeat;
    margin: 0 auto;
}
/*
    .imgexpertteam:hover {
        background: url(../images/why-we-are.png) 0 -140px no-repeat;
    }*/

.imgfullsupport {
    background: url(../images/brugarolas-logo.png) -160px 0 no-repeat;
    margin: 0 auto;
     background-size: 80px 60px;
}

   /* .imgfullsupport:hover {
        background: url(../images/why-we-are.png) -160px -140px no-repeat;
    }*/

.imglatesttechnology {
    background: url(../images/why-we-are.png) -316px 0 no-repeat;
    margin: 0 auto;
}

    .imglatesttechnology:hover {
        background: url(../images/why-we-are.png) -316px -140px no-repeat;
        height: 120px;
        width: 120px;
    }

.imgsecurity {
    background: url(../images/why-we-are.png) -450px 0 no-repeat;
    margin: 0 auto;
}

    .imgsecurity:hover {
        background: url(../images/why-we-are.png) -450px -140px no-repeat;
    }

.bimg {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px #c2c2c2;
    margin: 0 0 28px 10px;
    width: 100%;
    height: auto;
}

.imgfb, .imgfb:hover {
    height: 30px;
    width: 30px;
}

@media (max-width:640px) {
    .bimg {
        margin: 0;
    }

    .carousel-inner .active .image-bar:after {
        right: 2%;
    }
}

.imgfb {
    background: url(../images/fb_hover_new.png) no-repeat;
}

    .imgfb:hover {
        background: url(../images/fb.png) no-repeat;
    }

.imggplus, .imggplus:hover, .imglinkedin, .imglinkedin:hover, .imgtwitter, .imgtwitter:hover {
    height: 26px;
    width: 25px;
    border-radius: 50%;
}

.imggplus {
    background: url(../images/gplus.png) 0 0/230% auto no-repeat;
}

    .imggplus:hover {
        background: url(../images/gplus.png) -32.5px 0/230% auto no-repeat;
    }

.imglinkedin {
    background: url(../images/linkedin.png) 0 0/229% auto no-repeat;
}

    .imglinkedin:hover {
        background: url(../images/linkedin.png) -32.5px 0/230% auto no-repeat;
    }

.imgtwitter {
    background: url(../images/twitter.png) 0 0/227% auto no-repeat;
}

    .imgtwitter:hover {
        background: url(../images/twitter.png) -32px 0/227% auto no-repeat;
    }

.divsocialsitelink {
    text-align: center;
    margin: 0 auto 0 10px !important;
    width: 100%;
    padding-top: 10px;
}

.breadCrumbs {
    color: #4e4e4e;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 0;
}

.breadCrumbsActive, .breadCrumbsActive:focus, .breadCrumbsActive:hover {
    color: #195fa4;
    font-weight: 500;
}

.event-title::before {
    background: url(/areas/kcits/images/red-box.png) center center no-repeat rgba(0,0,0,0);
    bottom: -25px;
    height: 85px;
    left: 34%;
    position: absolute;
    width: 32%;
    text-transform: capitalize;
}

.imgSideMenu, .imgSideMenu:hover {
    height: 26px;
    width: 25px;
}

.event-title {
    text-align: center;
    padding-bottom: 33px;
}

.event-day {
    float: left;
    width: 25px;
}

.testimonial-imgdiv {
    text-align: center;
    padding-bottom: 5px;
}

.testimonial-img {
    border-radius: 50%;
    padding-bottom: 0 !important;
}

.testimonial-contentdivbg-left {
    background-image: url(/Areas/KCITS/images/1.png);
    background-repeat: no-repeat;
    background-position: 1px 50px;
}

.testimonial-contentdivbg-right {
    background-image: url(/Areas/KCITS/images/2.png);
    background-repeat: no-repeat;
    background-position: 100% 50px;
}

.testimonial-contentdiv {
    text-align: left;
    min-height: 130px;
    background-color: #e2e2e2;
    padding: 15px;
}

.EventContent, h1 {
    text-align: center;
}

.testimonial-author {
    padding-right: 5px;
    font-weight: 700;
    color: #195fa4;
}

.testimonial-finalmargin {
    margin-bottom: 30px;
}

.bannerbutton {
    color: #fff !important;
}

    .bannerbutton:hover {
        color: #F63 !important;
    }

.imgSideMenu:hover {
    background: url(../images/twitter1.png) no-repeat;
}

.technologyclass {
    margin-left: 40px;
}

.protfoliodiv {
    height: 230px;
    padding: 5px;
}

#wrapper {
    width: 960px;
}

h1 {
    margin: 0 0 20px;
}

.grid-block-container {
    float: left;
    width: 990px;
    margin: 20px 0 0;
}

.grid-block {
    position: relative;
    float: left;
    width: 380px;
}

    .grid-block h4 {
        font-size: .9em;
        color: #333;
        background: #f5f5f5;
        margin: 0;
        padding: 10px;
        border: 1px solid #ddd;
    }

.caption {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: url(/Areas/KCITS/images/trans-black-50.png);
    width: 100%;
    height: 100%;
}

    .caption h3, .caption p {
        color: #fff;
    }

    .caption h3 {
        margin: 50px 20px 10px;
    }

    .caption p {
        font-size: .75em;
        line-height: 1.5em;
        margin: 0 20px 15px;
    }

    .caption a.learn-more {
        padding: 5px 10px;
        background: #08c;
        color: #fff;
        border-radius: 2px;
        -moz-border-radius: 2px;
        font-weight: 700;
        text-decoration: none;
    }

        .caption a.learn-more:hover {
            background: #fff;
            color: #08c;
        }




.liststyle {
    font-family: 'Roboto' !important;;
    font-size:12px !important;;
    font-weight: 400 !important;
    color: #626262 ;
}
.liststyle li {
    background-image: url("http://greengroup.co.in/images/arrow1.gif");
    background-position: 0 8px;
    background-repeat: no-repeat;
   /* margin: 0 0 0 20px;*/
    padding: 5px 0 5px 20px;
    font-size: 13px;
}
.liststyle div{
    color:  #626262;
}




.innerStepArea {
    float: left;
    height: auto;
}
.innerStepList {
    float: left;
    font-size: 0;
    list-style-type: none;
   /* margin: 15px 0 0;*/
    padding: 0;
    text-align: center;
    width: 100%;
}
.innerStepList li {
    box-sizing: border-box;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
   /* width: 50%;*/
}
.innerStepList li p {
    padding-left: 35px;
    position: relative;
}
.innerStepList li p::before {
    background: #195fa4 none repeat scroll 0 0;
    border-radius: 100%;
    content: "";
    height: 6px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    top: 8px;
    width: 6px;
}
.innerStepList li span {
    box-sizing: border-box;
    display: block;
    font-size: 13px;
    line-height: 22px;
    padding-left: 30px;
   /* padding-right: 30px;*/
    position: relative;
    text-align: left;
}
.innerStepList li i.fa {
    background: #195fa4 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    height: 20px;
    left: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 20px;
}
.innerStepList li h5 {
    color: #333;
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 0 10px;
}
.innerStepList li:hover {
    background-color: #f0f0f0;
}



/*#divBreadCrumbs{

    text-transform: uppercase !important;
}

#divServicemenu{
    text-transform: uppercase !important;
}*/

#divServicemenu{
    text-transform: lowercase !important;
}


/*** datatable***/

table.dataTable{
    border-collapse: collapse !important; 
}

table.dataTable.no-footer{
    border-bottom: 0px solid #111 !important;
}

table.dataTable thead th, table.dataTable thead td {
     border-bottom: 0 solid #111 !important;
}

/*.dataTable .dataTables_filter, .dataTables_length{
    padding-top: 5px;
    padding-bottom: 5px;
}*/
#dynamic-table_filter,#dynamic-table_length,#dynamic-table_info,#dynamic-table_paginate{
    padding: 5px;
}
#dynamic-table_info{
    margin-top: 5px;
}


.owl-carousel .owl-item img{

    transform-style: unset;
}

.logo-non-fixed{
    padding: 25px 25px 25px 0px !important;
}
.logo-fixed{
    padding: 15px 15px 15px 0px !important;
}


.media-body h2{
    font-size: 13px;
}



.meta {
            margin: 0 0 40px 0;
            font-size: 0.8em;
        }
       .properties-table {
            width: 100%;
            padding: 0;
            border-spacing: 0;
            margin-top: 2em;
            font-size: .85em;
            background-color: #eee;
        }
        .properties-table th, .properties-table td {
            text-align: left;
            padding: 10px;
        }
        .properties-table th {
            border-bottom: 1px solid #333;
            line-height: 2;
        }
        /* End Basic styling */

        
        #demo-1 {
            position: relative; /* can either be relative, absolute or fixed. If position is not set (i.e. static), it would be set to "relative" by script */
            overflow: hidden; /* to bound the empty top space created by inner element's top margin */
            width: 100%;
            height: 500px;
            background-color: #999;
        }
        .demo-inner-content {
            position: relative; /* if position is not set, the script will set it to 'relative'. */
            z-index: 2; /* if z-index is not set, the script will set it to '2'. */
            margin: 180px auto;
            padding: 40px;
            max-width: 600px;
            color: #fff;
            text-align: center;
            font-size: 1.5em;
        }
        .demo-inner-content h1 {
            font-size: 2.5em;
            margin: 0;
        }



















@media (max-width:320px) {
    .carousel-inner .active .image-bar:after {
        right: 2%;
    }
     .logo-non-fixed{
         padding: 35px 35px 35px 0px !important;
    }
    .logo-fixed{
        padding: 20px 20px 20px 0px !important;
    }
}

@media (max-width:360px) {
    .carousel-inner .active .image-bar:after {
        right: 2%;
    }
}

@media (max-width:480px) {
    .carousel-inner .active .image-bar:after {
        right: 2%;
    }
    .navbar-default {
        padding: 0px 0;
    }

  /*  .menu-margin{
        margin-top: 39px;
    }*/
    
}

@media (max-width:767px) {
    .section-padding{
        padding: 40px 0 65px;
    }
     #demo-1 {
            height: 300px;
        }
    .logo-non-fixed{
         padding: 30px 30px 30px 0px !important;
    }
    .logo-fixed{
        padding: 15px 15px 15px 0px !important;
    }
    .carousel-inner .active .image-bar:after {
        right: 2%;
    }

   /* .navbar-default {
        padding: 0px 0;
    }*/
    .navbar-brand img{
        margin-top: -20px;
    }
    .navbar-collapse ul li a{
        font-size: 10px !important;
    }
    .navbar-header button.navbar-toggle{
        margin-top: 17px;
    }
}

@media screen and (max-width:990px) and (min-width:767px) {
    #demo-1 {
            height: 400px;
        }
    .logo-non-fixed{
         padding: 30px 30px 30px 0px !important;
    }
    .logo-fixed{
        padding: 15px 15px 15px 0px !important;
    }
    .small-title::after {
        border-bottom: 30px solid #404040;
        border-left: 30px solid transparent;
        border-right: 13px solid transparent;
        content: " ";
        height: 30px;
        margin-right: -13px;
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
    }

    .small-title::before {
        background: #195fa4;
        height: 30px;
        margin-right: -20px;
        right: 0;
        transform: skew(24deg);
    }

    .small-title {
        height: 30px;
    }
    .navbar-collapse ul li a{
        font-size: 10px !important;
    }
}

@media screen and (max-width:765px) {
    .small-title::after {
        border-bottom: 20px solid #404040;
        border-left: 20px solid transparent;
        border-right: 10px solid transparent;
        content: " ";
        height: 20px;
        margin-right: -10px;
        position: absolute;
        right: 0;
        top: 0;
        width: 20px;
    }

    .small-title::before {
        background: #195fa4;
        height: 20px;
        margin-right: -18px;
        right: 0;
        transform: skew(27deg);
    }

    .small-title {
        height: 20px;
    }
}

.projCategoryshufflerow {
    position: relative;
    height: 600px;
}

.marginpadding {
    margin: 0;
    padding: 0;
}

.qoutefont {
    font-size: 12px;
}

.testimonialNameFont {
    font-size: 16px;
}

.projecthr {
    border: 1px solid #ddd;
}

.EventContentcolor {
    color: #F63;
}

.jobdropdownmargin {
    margin: 0 0 15px;
}

.colorstyle {
    color: #fff;
}

.applynowbtn {
    width: 125px;
    margin-top: 0;
    float: right;
}

.social-icons {
    color: #fff;
    padding: 0 5px;
}

.associated-image img {
    padding: 0 20px;
    height: 90px;
}

.twitter-timeline {
    width: 100%;
    max-height: 500px !important;
}

.fb_iframe_widget {
    border: 1px solid #fff;
    border-radius: 4px;
}

.fb-page span, .fb-page span iframe {
    min-width: 100% !important;
}




@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v16/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v16/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v16/-2n2p-_Y08sg57CNWQfKNvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v16/u0TOpm082MNkS5K0Q4rhqvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v16/NdF9MtnOpLzo-noMoG0miPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v16/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(http://fonts.gstatic.com/s/roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
