@charset "utf-8";
/******************************************************************************
  STYLES USED IN THE DEMO ONLY
******************************************************************************/


#terminal  pre, code {
	color:#363f46;    
	font-size:18px;
}

#terminal .container {
	margin:0 auto;		
}

#terminal h1 {
	color:#363f46;
}

#terminal p {
	line-height:46px;
	font-weight:100;
	color:#363f46;
}

#terminal p.example {
	font-size:20px;
	line-height:32px;
	font-weight:100;
	color:#F363f46FF;	
}

#terminal h2 {
	font-size:26px;
	font-weight:300;
	line-height:46px;
	color:#363f46;	
}

#terminal ul li {
	font-size:13px !important;
	line-height:46px;
	font-weight:100;
	color:#FFF;
  background-color: #000000;
  border: 0px; 
}

.setting {
	font-weight:400;
	display:inline-block;
	width:170px;
}



.preset {
	display:inline-block;
	width:45%;
	padding:20px 0;
	text-align:center;
	font-size:20px;
	cursor:pointer;
	color:#000;
	text-transform:uppercase;
	margin:20px 0 60px 0;
	font-family:'Open Sans',sans-serif;
	background:#FFFFFF;
	border:6px double #000;
	letter-spacing:1px;
	transition:all 500ms ease; }
	
.preset:hover {
	background:#000;
	color:#FFF;
	border-color:#FFF; }





/************************************************/



 #terminal  #html {
  font-family: monaco, monospace;
  font-size: .8em;
  /*background: url("http://subtlepatterns.com/patterns/grey_wash_wall.png");*/
  padding: 70px;
}

#terminal #shell {
  width: 500px;
  height: 270px;
  background: #000;
  border-radius: 8px;
  margin: 0 auto;
  color: #383838;
}

#terminal #upper {
  background: #e5e5e5;
  background: -webkit-linear-gradient(#e5e5e5 0%, #b0b0b0 100%);
  background: linear-gradient(#e5e5e5 0%, #b0b0b0 100%);
  background-image: -moz-linear-gradient(#e5e5e5 0%, #b0b0b0 100%);
  -webkit-border-radius: 3px 3px 0px 0px;
  -moz-border-radius: 3px 3px 0px 0px;
  border-radius: 3px 3px 0px 0px;
  height: 25px;
  text-align: center;
  padding-top: 0px;
  border-bottom: 2px solid #333;
}

#terminal .title {
  margin-left: -70px;
}

#terminal .button {
  width: 12px;
  height: 12px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  margin: 3px 3px 3px 3px;
  float: left;
}

#terminal .red {
  background: #f04341;
  border: 1px solid #eb1513;
}

#terminal .yellow {
  background: #f5b868;
  border: 1px solid #f2a238;
}

#terminal .green {
  background: #96cf7d;
  border: 1px solid #78c158;
}

#terminal #main {
	margin-left: 0px !important;
  padding: 5px;
  color: #c0c7c7;
  width: 100%;
}
#terminal #main .fore {
  color: #ff6c6b;
}
#terminal #main .accent {
  color: #00b5c3;
}

#terminal #main:before {
  content: "Last login: Tue Oct 22 18:23:57 on ttys000";
  display: block;
}

#terminal #enter {
  display: inline;
  margin-left: .01em;
  width: 100%;
  height: 100%;
}

#terminal #enter:focus {
  outline: 0px solid transparent;
}

#terminal .inner-light-top {
  position: relative;
  z-index: 2;
  margin: 0px 3px;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}

#terminal .inner-light-bottom {
  margin: -1px 3px;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1));
  background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1));
}

#terminal .inner-dark-top {
  top: -10px;
  height: 8px;
  width: 10px;
  border-radius: 100%;
  position: relative;
  z-index: 1;
}

#terminal .red .inner-dark-top {
  background: rgba(235, 21, 19, 0.4);
  margin: -5px 0px;
}

#terminal .yellow .inner-dark-top {
  background: rgba(242, 162, 56, 0.4);
  margin: 3px 0px;
}

#terminal .green .inner-dark-top {
  background: rgba(120, 193, 88, 0.4);
  margin: 3px 0px;
}














/* IPHONE */
@media (max-width:375px){
	.container {
		width:375px;
		padding-top:500px;
	}	
}

/* IPAD */
@media (max-width:768px){
	.container {
		width:500px;
		padding-top:250px;
	}	
	
	.setting {display:block;}
}


/* DESKTOP */
@media (min-width:768px){
	.container {
		width:768px;
		padding-top:200px;
	}	
}

/* DESKTOP + */
@media (min-width:1024px){
	.container {
		width:1000px;
		padding-top:100px;
	}	
}